<!DOCTYPE html>
<html>
<head>
    <title>Workout Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/history">History</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/log_workout">Log Workout</a> |
        <a href="/analytics">Analytics</a>
        <a href="/logout">Logout</a>
    </nav>
    <hr>
    
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
